@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,700');

// import pallet variables
// https://colorscheme.ru/#0Ib1BCoWQ-7T6
$color-primary-0: rgba(255, 153,   0, 1);	/* Main color */
$color-primary-1: rgba(153, 102,  51, 1);
$color-primary-2: rgba(102,  51,   0, 0.8);
$color-primary-3: rgba(255, 204, 102, 1);
$color-primary-4: rgba(255, 255, 204, 1);

$color-secondary-a-0: rgba(  0, 102, 255, 1);	/* Second color A */
$color-secondary-a-1: rgba( 51, 102, 102, 1);
$color-secondary-a-2: rgba(  0,  51,  51, 1);
$color-secondary-a-3: rgba(102, 153, 255, 1);
$color-secondary-a-4: rgba(204, 204, 255, 1);

$color-secondary-b-0: rgba(  0, 204, 255, 1);	/* Second color B */
$color-secondary-b-1: rgba( 51, 102, 102, 1);
$color-secondary-b-2: rgba(  0,  51,  51, 1);
$color-secondary-b-3: rgba(102, 255, 255, 1);
$color-secondary-b-4: rgba(204, 255, 255, 1);


// ----------- Used colors

$brown-08: rgba(102,  51, 0, 0.8);
$main-yellow: #FF9900;
$main-lightYellow: #FFCC66;
$main-lightYellow-08: rgba(255, 204, 102, 0.8);
$white-yellow: #FFFFCC;
$white-yellow-01: rgba(255, 255, 204, 0.1);
$blue: #0066FF;
$light-blue: #CCCCFF;
$sky-blue: #00CCFF;
$lime: #66FFFF;
$white-lime: #CCFFFF;
$white:   #FFFFFF;
$white-lime-03: rgba(204, 255, 255, 0.3);
$dark-blue: rgba(14, 40, 65, 1);
$dark-blue-007: rgba(14, 40, 65, 0.07);
$form-background: rgb(238, 240, 242);
$dark-blue-03: rgba(14, 40, 65, 0.3);
$dark-blue-06: rgba(14, 40, 65, 0.6);
$dark-blue-08: rgba(14, 40, 65, 0.8);

//fonts
$text-font: 'Source Sans Pro', sans-serif;
$accent-font: 'Montserrat', sans-serif;


body {
  margin: 0;
  padding: 0;
  font-family: $text-font;
  font-size: 17px;
  line-height: 1.6rem;
  font-weight: 300;
  overflow-y: scroll;
  a{
    color: $white-lime;
    text-decoration: none;
  }
  &::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $main-yellow;
    width: 2px;
  }
}
/* -----------    header section---------------- */
#header {
  font-family: $accent-font;
  background-color: $dark-blue;
  color: $white-lime;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2rem;
  padding: 5px 15px;
  position: relative;
  ul{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    li{
      display: inline-block;
      margin-left: 1rem;
      position: relative;
      &::after {
        display: block;
        content: '';
        height: 1px;
        transition: width 0.2s ease-in-out;
        width: 0;
      }
      &:hover {
        cursor: pointer;
        &::after {
          background-color: $white-yellow;
          width: 100%;
        }
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
    .mobile-toggle-nav{
      display: none;
      width: 25px;
      height: 25px;
      span{
        position: relative;
        display: block;
        height: 1px;
        background-color: $white-yellow;
        transition: all ease-in-out 0.3s;
        margin-top: 0.5rem;
        &::before,
        &::after{
          position: absolute;
          content: '';
          width: 60%;
          margin: 0 20%;
          height: 1px;
          background-color: $white-yellow;
          transition: all ease-in-out 0.7s;
        }
        &::before{
          top: -0.5rem;
        }
        &::after{
          top: 0.5rem;
        }
      }
    }
  }
}

/* -------------- media styles for mobile navigation --------------------*/
@media all and (max-width: 768px) {
  nav ul {
    display: none;
  }
  #header{
    nav {
      div.mobile-toggle-nav{
        display: block;
      }
      &.active {
        width: 80%;
        border-left: 1px solid;

        .mobile-toggle-nav {
          position: absolute;
          top: 5px;
          right: 5px;
        }
        ul {
          display: block;
          height: calc(100vh - 42px);
          li {
            display: block;
            line-height: 1.5rem;
            margin: 1rem auto;
          }
        }
        span {
          background-color: transparent;
          &::before {
            width: 100%;
            transform: rotate(45deg) translate(0, 2px);
            transform-origin: left;
          }
          &::after {
            width: 100%;
            transform: rotate(-45deg) translate(-3px, 1px);
            transform-origin: left;
          }
        }
      }
    }
  }
}

/*-------------------- description site ---------------------------*/
#siteDescription{
  position: relative;
  .title{
    font-family: $accent-font;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    height: 100%;
    font-weight: 600;
    width: 50%;
    justify-content: center;
    left: 5%;
    color: $main-yellow;
    text-transform: uppercase;
    h1{
      font-size: 300%;
      line-height: 80%;
      margin: 0 0 20px 0;
    }
  }
}
/*-------------------- end description site ---------------------------*/
/*---------------------- services -------------------*/
#services{
  margin: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: $dark-blue;
  color: $white-lime;
  .services-text{
    margin: 5px 10% 50px;
  }
  .technologies-subtitle {
    text-align: center;
    font-weight: 400;
  }
}

/*---------------------- end services -------------------*/
/*---------------------- technologies section -----------*/
#technologies{
  background-color: $dark-blue-007;
  margin: 0;
  padding: 15px;
  color: $dark-blue;
  h2{
    color: $main-yellow;
  }
  .stack-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-items: stretch;
    .technologies-card{
      background-color: $white;
      min-width: 200px;
      margin: 8px;
      width: calc(30% - 68px);
      max-width: 100%;
      flex-grow: 1;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      padding: 25px;

      .technologies-item_text{
        flex-grow: 1;
      }

    }
  }
  .technologies-icon{
    position: relative;
    color: $main-yellow;
    font-size: 3rem;
  }
}
/*---------------------- end technologies section -------*/

/*-----------------------works section  -------------------*/

#works{
  background-color: $dark-blue-007;
  color: $white-lime;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-items: stretch;
  & > .title{
    width: 100%;
    background-color: $dark-blue;
  }

  .works-item-wrapper{
    margin: 8px;
    min-width: 300px;
    width: 30%;
    max-width: 100%;
    max-height: 40vh;
    flex-grow: 1;
    position: relative;
    .work-item-description,
    .work-item_tasks,
    .work-item_stack{
      display: none;
    }
    .image{
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .work-item-content{
      color: $main-yellow;
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      justify-content: flex-end;
      transition: all ease-in-out 0.5s;
      .work-hover-icon{
        font-size: 4rem;
        align-self: center;
        transition: all ease-in-out 0.3s;
        color: $main-lightYellow;
        opacity: 0;
      }
    }
    &:hover{
      .work-item-content{
        background-color: $dark-blue-06;
        .work-hover-icon{
          opacity: 1;
        }
        h2{
          color: $main-lightYellow;
        }
      }
    }
  }
}

/*-----------------------end works section  ---------------*/

/*----------------------- footer --------------------------*/

#footer{
  background-color: $dark-blue;
  padding: 50px 20px;
  color: $main-yellow;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  div{
    margin-top: 20px;
  }
}
/*----------------------- end footer ----------------------*/

/* ----------------------- scroll top ---------------------*/
.scroll-top_bnt{
  display: none;
  position: fixed;
  color: $main-yellow;
  font-size: 2.5em;
  bottom: 15px;
  right: 15px;
  transform: rotate(-45deg);
  transition: opacity ease-in-out 0.15s;
  z-index: 10;
  &:hover{
    opacity: 1;
    cursor: pointer;
  }
}
/* ----------------------- end scroll top -----------------*/



/*-----------------------  popup  -----------------------------*/
.work-popup_image{
  grid-area: image;
}
.work-popup_title{
  grid-area: title;
}
.work-popup_description{
  grid-area: description;
}
.work-popup_tasks{
  grid-area: tasks;
}
.work-popup_stack{
  grid-area: stack;
}
.work-popup_background{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $dark-blue-08;
  top: 0;
  left: 0;
  z-index: 15;
  justify-content: center;
  align-items: center;
}
.work-popup{
  width: 90%;
  max-width: 700px;
  margin: 5%;
  display: grid;
  position: relative;
  height: 90%;
  max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 5;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'image title'
  'image description'
  'tasks stack';
  background-color: $white-yellow;
  border: 1px solid $main-yellow;
  .work-popup_image{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 5px;
      }
  }
  div{
   &:not(.work-popup_image){
     padding: 15px;
   }
    li{
      display: block;
      &::before{
        content: '\1F5F8';
        margin-right: 5px;
        font-weight: bold;
      }
    }
  }
  .work-popup_tasks,
  .work-popup_stack,
  .work-popup_title{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &::-webkit-scrollbar{
    background-color: transparent;
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $main-yellow;
    width: 2px;
  }

  @media all and (max-device-width: 700px){
    grid-template-columns: 1fr;
    grid-template-areas:
    'title'
    'image'
    'description'
    'tasks'
    'stack';
    &> div > div {
      align-self: flex-start;
    }
  }
}

/*-----------------------  end  popup  ------------------------*/
/*-----------------------  contact form -----------------------*/
#contact-form{
  display: none;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: $dark-blue-03;
  .response-massage{
    display: none;
    position: absolute;
    background: $form-background;
    padding: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    flex-direction: row;
    line-height: 2em;
    text-align: center;
  }
}
.no_events{
  pointer-events: none;
}
.contact-form-wrapper{
  background-color: $form-background;
  position: relative;
  padding: 50px 0;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: relative;
    input,
    textarea{
      font-family: $text-font;
      font-size: 1.1em;
      width: 100%;
      margin: 20px;
      background: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid $dark-blue-06;
      resize: none;
      &::placeholder{
        color: $dark-blue;
        font-family: $text-font;
        opacity: 0.5;
      }
      &::-webkit-scrollbar{
        background-color: transparent;
        width: 5px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: $main-yellow;
        width: 2px;
      }
    }
    button{
      background: $dark-blue-007;
      border: none;
      padding: 8px 15px;
      color: $dark-blue;
      font-size: 1em;
      font-family: $accent-font;
      font-weight: 600;
      &:hover{
        color: $white-yellow;
        background-color: $main-yellow;
        cursor: pointer;
      }
    }
  }
}





/*-----------------------  end contact form -------------------*/






/*-------- wrappers ------------*/
.img-wrapper{
  height: 70vh;
  position: relative;
  overflow: hidden;
  background: $white;
  .color-overlay{
    background-color: $dark-blue;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 100% 50%;
    filter: blur(5px) saturate(4);
  }
}
section{
  h2{
    margin: 50px;
    text-align: center;
    text-transform: uppercase;
  }
}
h3{
  text-transform: uppercase;
  text-align: center;
}
.hidden{
  display: none;
}
.work-popup-close,
.contact-popup-close{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
  color: $dark-blue-06;
  opacity: 0.5;
  transition: all ease-in 0.15s;
  &:hover{
    cursor: pointer;
    color: $main-yellow;
    transform: scale(1.3);
    opacity: 1;
  }
}